.color{list-style: none;
color: #4E47FF; }
.btn-1{color: #FFFFFF; 
   background-color: #4E47FF; border-radius:5px ;  padding: 3PX; }
   .Papa{display: flex; 
   justify-content: space-between; 
  align-items: center;
      }
  .text-1{text-align: center;
  margin-top: 120px; padding-bottom: 200px;}
 .banner{background: url('../Assets/Hero-bg.png');
   background-repeat: no-repeat;
    background-size: 144opx 698px;
 padding-left: 140px; padding-right: 160px;}
 .sub{color: #252432;}
 .no-1{border-radius: 40px;}
 .sec-2{display: flex; justify-content: space-between;
margin-left: 141px; margin-right: 161px; margin-top: 116px;}
.sec-3{background-color: #d1d0e6;
 border-radius: 15px;
padding: 50px 80px; margin-top: 141px; margin-left: 149px; margin-right: 151px; margin-bottom: 141px;}
.user{text-align: center;
font-size: 1.4em; font-weight: bold;}
.s{font-size: 2.5em; color: #25219b; font-weight: bold;}
.s2{font-size: x-small; color: #555454;}
.sec-31{display: flex; 
gap: 151px; align-items: center;align-self: center; 
 justify-content: center; }
.star{display: flex;}
.black{color: #757575; font-size: x-small;}
.pho{display: flex; gap: 5px;}
.rev{border-radius: 100%;}
.ma{font-size: x-small; color: #757575;} .da{font-size: x-small;color: #beb9b9;} 
.sec41{background-color: #f59595; 
border-radius: 15px;}
.sec-4{display: flex; gap: 30px; 
justify-content: center; margin-bottom: 137px; margin-left: 149px; margin-right: 151px; padding-top: 50px;}
.bor{background-color:white ;}
.red{font-size: larger; font-weight: bold; text-align: center; padding-bottom: 20px;}
.sma{font-size: x-small; color: #beb9b9; text-align: center;}
.fin{border-radius: 30px;
display: block; margin: auto; width: 50%;}
.alt{background-color: #b9b9b9; border-radius: 15px; margin: 0px 150px 150px 150px;}
.en{font-size: 2.5em;}
.forms{display: flex; gap: 250px;}
#for{height: 30px; border-radius: 5px;} #ful{height: 30px; border-radius: 5px;} #mass{height: 60px; width: 170px; border-radius: 5px; color: #757575;}
.labe{margin-left: 250px; margin-bottom: 150px; margin-right: 150px;}
.log{text-decoration: none; font-size: 3em; color: #3729d1; font-weight: 600; text-align: center;}
.pun{font-size: x-small; color: #757575; text-align: center;}
.nav{display: flex; list-style: none; gap: 20px; justify-content: center;} 
.nav li a{text-decoration: none; font-size: smaller; color: #757575;}
.not a{text-decoration: none;}